{% extends "common/layout.html" %}
{% block content %}
<!--<h2>welcome here 09</h2>-->
<!--<h4>{{name}}</h4>-->
<!--<p>-->
<!--    {% if user %}-->
<!--    {{user.nickname}} 联系方式：{{user.qq}} 主页：{{ user.home_page }}-->
<!--    {% endif %}-->
<!--</p>-->

<!--<hr>-->
<!--<p>-->
<!--    {% for num in num_list%}-->
<!--    {{num}}-->
<!--    {% endfor %}-->
<!--</p>-->

<!--<hr>-->
<!--<h3>flask 查询数据库</h3>-->
<!--<p>-->
<!--    {% for item in result %}-->
<!--    {{item['User']}}-->
<!--    {% endfor %}-->
<!--</p>-->

<div class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp0.itc.cn%2Fimages01%2F20210814%2Fb2baf58b9dd54ea8a6825e861e9b8c82.png&refer=http%3A%2F%2Fp0.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1647445176&t=677fa0a861eed2ab92c0476451e09801">
      <div class="caption">
        <h3>Thumbnail label</h3></div>
    </div>
  </div>
</div>
{% endblock %}